@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid .overflow-scroll::-webkit-scrollbar {
  width: 0em;
}

.grid .overflow-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.grid .overflow-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

/* VideoPlayer */

.video-container {
  max-width: 1000px;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.video-container.full-screen {
  max-height: 100vh;
  max-width: initial;
  width: 100%;
}

.video-player {
  width: 100%;
}

.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  height: 3.5rem;
}

.video-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  width: 100%;
  aspect-ratio: 8/1;
  z-index: -1;
  pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
  opacity: 1;
}

.video-controls-container .controls {
  display: flex;
  gap: 1rem;
  padding: 0.25rem;
  align-items: center;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.35rem;
  padding-bottom: 0.5rem;
}

.video-controls-container .controls .button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls .button:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container:not(.paused) .play-icon {
  display: none;
}

.video-container.full-screen .open {
  display: none;
}

.video-container:not(.full-screen) .close {
  display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-slider {
  /* change to 0 */
  width: 60px;
  transform-origin: left;
  /* change to 0 */
  transform: scaleX(1);
  height: 3px;
  transition: width 150ms ease-in-out, transfrom 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  width: 60px;
  transform: scaleX(1);
}

.speed-btn {
  font-size: 1.9ch;
  width: 35px;
}

input[type="range"] {
  -webkit-appearance: none;
  cursor: pointer;
  margin-left: 0.65rem;
  /* overflow: hidden; */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: white;
  /* box-shadow: -65px 0 0 65px red; */
  /* overflow: none; */
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: 0px 0px 1px -5px red;
}

.duration-container {
  font-size: 1.8ch;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
}

.video-container.captions .captions-btn {
  border-bottom: 3px solid red;
  transition: width 150ms ease-in-out;
}

.video-controls-container .controls .button.wide-btn {
  width: 50px;
}

.timeline-container {
  height: 6px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

.timeline {
  background-color: rgba(100, 100, 100, 0.5);
  height: 4px;
  width: 100%;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgba(150, 150, 150);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: red;
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  background-color: red;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.timeline .preview-img {
  position: absolute;
  height: 80px;
  aspect-ratio: 16 / 9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  border-radius: 0.25rem;
  border: 2px solid white;
  display: none;
}

.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
  display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}

input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
}

.parent.focus {
  background-color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timespaninput:focus-within {
  outline: 2px solid blue;
}

.parent:has([role="options"]) {
  /* CSS rules for the parent element containing the specific child */
  background-color: black;
  height: 100px;
}

#react-select-3-listbox {
  overflow: visible;
  z-index: 9999; /* Set a high z-index value */
}

/* .step > p {
  color: blue;
  position: absolute;
  transform: translateY(-40px);
} */

/* .steps {
  font-size: small;
  font-weight: 650;
}

.step #text {
  position: absolute;
  top: -50px;

}

.steps .step::after {
  height: 1.7rem;
  width: 1.7rem;
}

.steps button::hover {
  font-size: 20px;
} */

.steps {
  font-size: small;
  font-weight: 500;
}

.steps .step::after {
  height: 1.7rem;
  width: 1.7rem;
}

.steps .step::before {
  height: 0.25rem;
}


.error {
  font-size: small;
  color: red;
}

.redirect-link {
  font-size: small;
}

/* .text-white{
  color: red;
}

.stepper{
  background-color: black;
}

.cursor-pointer{
} */

#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
  width: 80vh;
}
/* 
.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
} */

.createSelect {
  font-size: 11pt;
}

/* Add this CSS to your styles or use a CSS module */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust as needed */
}

/* Add some styles to center your modal content within the card */
.modal-overlay > .card {
  /* Add your centering styles here */
}
